/* Body Styles */
body {
  margin: 0;
  height: 100vh;
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
}

/* App Heading Styles */
.app-heading {
  margin: 1rem;
  color: #fff;
  font-size: 2.2rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

/* Image Slider Container */
.img-slider {
  height: 20rem;
  width: 40rem;
  max-width: 100%;
  overflow: hidden;
}

/* Image Styles */
.img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

/* Controls Container Styles */
.ctrls {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Base Button Styles */
.btn {
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.05s linear;
}

/* Previous Btn Style */
.prev-btn {
  background-color: #dc3545;
}

/* Next Btn Style */
.next-btn {
  background-color: #28a745;
}

/* Btn Hover Effects */
.prev-btn:hover {
  background-color: #c82333;
}

.next-btn:hover {
  background-color: #218838;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .img-slider {
    width: 100%;
  }
}
